<div id="contenu">
  <footer class="footer text-center text-white bg-white">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/profile.php?id=100074919852369"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Faux_delices_de_rova%3Futm_medium%3Dcopy_link%26fbclid%3DIwAR0eqNissaFer8RKP_cVWPwAF9hGuvHgOkzWPICcg1GqyoaHtwV4PZ4UysY&h=AT1Ng11jxdKtc6RlPF4HLLwEXzfJe_DfCH9vOG3uo7CBtyrSF9vBjPzevg5SOg_BMezYKfFhWPrrQu4hxA9bIWvZ5-hLmj5MF8x-pqEsPfw4Y7QvyRBWwaEw-qAv5lFAz8inQdqnW14jBZERQjardQ"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>

  </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    

    <!-- Copyright -->
    <div class="text-center text-dark p-3">
      © 2022 Copyright:
      <a class="text-dark" href="https://auxdelicesderova.com/">auxdelicesderova.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>